@use '../../global' as *;
@use '../../partials' as *;

.preloader {
  background: $grey;
  @include flex-center;
  position: fixed;
  inset: size(0);
  @include w100;
  min-height: 100vh;
  overflow: hidden;
  z-index: 9999;

  .text-container {
    @include flex-center-vert;
    overflow: hidden;
    opacity: 0;
  }

  .loader {
    @include flex-center;
    @include square(260);
  }
}