@use '../../global' as *;
@use '../../partials' as *;

.header {
  background: $white;
  @include border-single(bottom, solid, 1, $cardborder);
  @include flex-center-vert;
  position: fixed;
  top: 0;
  left: 0;
  @include w100;
  padding: size(7.5) size(0);
  height: size(64);
  z-index: 1000;

  @include breakpoint(tab992) {
    padding: size(0);
  }
  
  &-nav {
    @include flex-center-between;
  }

  &.scrolled {
    box-shadow: $headershadow;
    border-color: rgba($white, 0.3);
  }
}